<div class="auth">
  <div class="wrapper">
    <h1><%= formHeader %></h1>

    <% if (error) { %>
      <p class="error-message"><%= error %></p>
    <% } %>

    <form
      class="auth-form"
      action="<%= action %>"
      method="<%= method || 'post' %>"
    >
      <% fields.forEach(function(field) { %>
        <input
          class="auth-input"
          type="<%= field.type %>"
          name="<%= field.name %>"
          id="<%= field.name %>"
          placeholder="<%= field.placeholder %>"
          <% if (field.required) { %> required <% } %> 
        />  
      <% }); %>
      <button class="button primary-button" type="submit">
        <%= buttonText %>
      </button>
    </form>

    <p>
      <%= additionalText %>
      <a href="<%= linkHref %>"><%= linkText %></a>
    </p>
  </div>
</div>